---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Memes">
    <div class="relative h-[calc(100vh-56px)] w-screen">
      <div id="map" class="relative h-full w-full"></div>
    </div>
</Layout>

<script>
  import type { TomTomResponse } from "@/types/TomTomResponse";
  import L, {
    type LocationEvent,
    type ErrorEventHandlerFn,
    Marker,
  } from "leaflet";
  import "leaflet-routing-machine";

  const map = L.map("map").fitWorld();

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  let userMarker: Marker | null = null;
  let accuracyCircle: L.Circle | null = null;
  let lastFetchedLatLng: L.LatLng | null = null;
  let initialLocationSet = false;

  let stationMarkers: Marker[] = [];
  let lastFetchTime = 0;
  let currentRoute: any = null;
  const THROTTLE_TIME = 60000;

  const apiKey = import.meta.env.PUBLIC_TOMTOM_API_KEY;

  function getDistance(latlng1: L.LatLng, latlng2: L.LatLng): number {
    return latlng1.distanceTo(latlng2);
  }

  async function fetchTomTomLocations(lat: number, lon: number) {
    const radius = 10000;
    const url = `https://api.tomtom.com/search/2/nearbySearch/.json?lat=${lat}&lon=${lon}&radius=${radius}&language=th-TH&categorySet=7309&view=Unified&relatedPois=off&key=${apiKey}`;

    try {
      const response = await fetch(url);
      const data: TomTomResponse = await response.json();

      stationMarkers.forEach((marker) => map.removeLayer(marker));
      stationMarkers = [];

      data.results.forEach((result) => {
        const { position, poi, dist } = result;
        const { lat, lon } = position;
        const name = poi.name;

        const distance = (dist / 1000).toFixed(2);

        const marker = L.marker([lat, lon])
          .addTo(map)
          .bindPopup(
            `<strong>${name}</strong>
            <p>${distance} กม.<p>`,
            {
              autoClose: false,
              autoPan: false,
              closeOnClick: false,
            },
          )
          .openPopup();

        marker.on("click", function () {
          toggleRouteToStation({ lat, lon }, marker);
        });

        stationMarkers.push(marker);
      });
    } catch (error) {
      console.error("Error fetching TomTom locations:", error);
    }
  }

  function toggleRouteToStation(
    stationLocation: { lat: number; lon: number },
    marker: Marker,
  ) {
    if (currentRoute) {
      map.removeControl(currentRoute);
      currentRoute = null;

      marker.openPopup();
    } else if (userMarker) {
      if (import.meta.env.MODE === "production") {
        currentRoute = L.Routing.control({
          waypoints: [
            L.latLng(userMarker.getLatLng()),
            L.latLng(stationLocation.lat, stationLocation.lon),
          ],
          routeWhileDragging: false,

          router: L.Routing.mapbox(import.meta.env.PUBLIC_MAPBOX_APIKEY, {
            profile: "mapbox/driving",
            language: "en",
          }),
        }).addTo(map);
      } else {
        currentRoute = L.Routing.control({
          waypoints: [
            L.latLng(userMarker.getLatLng()),
            L.latLng(stationLocation.lat, stationLocation.lon),
          ],
          routeWhileDragging: false,
        }).addTo(map);
      }
    }
  }

  map.locate({ watch: true, enableHighAccuracy: true });

  function onLocationFound(e: LocationEvent) {
    const radius = e.accuracy;
    const { lat, lng } = e.latlng;
    const currentLatLng = e.latlng;

    if (!initialLocationSet) {
      map.setView(currentLatLng, 15);
      initialLocationSet = true;
    }

    if (userMarker) {
      userMarker.setLatLng(currentLatLng);
    } else {
      userMarker = L.marker(currentLatLng)
        .addTo(map)
        .bindPopup(`You are within ${radius} meters from this point`)
        .openPopup();
    }

    if (accuracyCircle) {
      accuracyCircle.setLatLng(currentLatLng).setRadius(radius);
    } else {
      accuracyCircle = L.circle(currentLatLng, { radius }).addTo(map);
    }

    const now = Date.now();
    const timeSinceLastFetch = now - lastFetchTime;

    if (timeSinceLastFetch < THROTTLE_TIME) {
      console.log("Throttled: Too soon to fetch again.");
      return;
    }

    if (
      !lastFetchedLatLng ||
      getDistance(lastFetchedLatLng, currentLatLng) > 500
    ) {
      fetchTomTomLocations(lat, lng);
      lastFetchedLatLng = currentLatLng;
      lastFetchTime = now;
    }
  }

  const onLocationError: ErrorEventHandlerFn = function (e) {
    alert(e.message);
  };

  map.on("locationfound", onLocationFound);
  map.on("locationerror", onLocationError);

  function setViewportHeight() {
    const vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty("--vh", `${vh}px`);
  }

  setViewportHeight();

  window.addEventListener("resize", setViewportHeight);
</script>
